*.pyc
*.swp
*.sqlite3
build/
RestAuth/djangosettings.py
man/*.8
doc/_build
doc/gen
MANIFEST
dist/
doc/coverage
Makefile.local
.pc
profile.py
include/
src/
lib/
local/
bin/python
bin/pip*
bin/easy_install*
bin/activate*
bin/django-admin.py
share/
bin/ipcluster
bin/ipcontroller
bin/ipengine
bin/iplogger
bin/iptest
bin/ipython
bin/irunner
bin/pycolor
