#!/usr/bin/make -f

PY2VERS=$(shell pyversions -rv)

PY2DIR=${CURDIR}/debian/restauth/
DOCDIR=${CURDIR}/debian/restauth-doc/

DH_ARGS=--with python2,sphinxdoc


%:
	dh $@ ${DH_ARGS}

build-python%:
	dh_testdir
	python$* setup.py build

override_dh_auto_build: ${PY2VERS:%=build-python%}
	# build documentation
	python setup.py build_doc -t debian
	dh_auto_build

install-python2%:
	dh_testdir
	python2$* setup.py install --force --root ${PY2DIR} --no-compile -O0 --install-layout=deb

override_dh_auto_install: ${PY2VERS:%=install-python%}
	dh_auto_install
	
	# rename language scripts:
	ls ${PY2DIR}/usr/share/
	find ${PY2DIR} | grep manage
	ls -l ${PY2DIR}/usr/bin/restauth-manage.py
	ls ${PY2DIR}/usr/share/pyshared
	ls ${PY2DIR}/usr/share/pyshared/RestAuth
	rename s/.py// ${PY2DIR}usr/bin/*
	
	# remove redundant license file:
	rm -f ${PY2DIR}usr/share/doc/restauth/COPYING

	# move munin script to standard location:
	mv ${PY2DIR}usr/share/restauth/munin/restauth_accounts ${PY2DIR}usr/share/munin/plugins
	rmdir ${PY2DIR}usr/share/restauth/munin/
	
override_dh_python2:
	dh_python2
	mv ${PY2DIR}usr/share/pyshared/RestAuth/localsettings.py ${PY2DIR}etc/restauth/settings.py

test-python%:
	python$* setup.py test

ifeq (,$(findstring nocheck,$(DEB_BUILD_OPTIONS)))
override_dh_auto_test: ${PY2VERS:%=test-python%}
endif

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog
